.logo-link:hover .logo-text,
.mail-to:hover, .call-to:hover,
.tour-list-item:hover .tour-item-link{
    color: #ab3465;
}

.tour-info-hover {
    background: linear-gradient(to right, #7b4397, #dc2430);
}

.change-them {
    background: #f26522;
}
